<h1 style="text-align: center; color: orange;">The final answer</h1>
<div class="output">
  <p><%= @question %></p>
  <p>----Your question</p>
</div>
<div class="output">
  <p><%= @answer %></p>
  <p>----Your coach's answer</p>
</div>
